/* Use of root */
:root {

    --background-color: rgb(58, 112, 160);
    --padding: 2px;
    --border: 1px;
    --width:150px;
    --height: auto;

}

nav {
background-color: var(--background-color);
padding: 10px;

}

nav a {
    color:white;
    display:block;
    padding: 20px;

}

h1 {
    color: var(--background-color);
}

img {
    width:var(--width);
    height:var(--height);
    border: var(--border) solid black;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img{
    width:var(--width);
    height: var(--height);
    border: var(--border) solid lightblue;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;

}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border) solid rgb(0 0 0 /0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img{
    width: 200px;
    height: var(--height);
}

footer{
    margin-top:15px;
    border-top: var(--border) solid #000;
    text-align: center;
}
